/* ======== VARIABLES ======== */
:root {
  /* Colores */
  --color-fondo: #111;
  --color-texto: rgba(255, 255, 255, 0.8);
  --color-rojo-sangre: #851931; /* Rojo oscuro */
  --color-rojo-hover: #9a2d44; /* Rojo oscuro en hover */
  --color-fondo-modal: rgba(0, 0, 0, 0.9);
  --color-borde: #444;
  --color-fondo-footer: rgba(34, 34, 34, 0.6);
  --color-acento: #0f0; /* Verde acento (puedes ajustar si prefieres otro) */

  /* Tamaños de fuentes */
  --fuente-principal: "Press Start 2P", monospace, "Open Sans", "Helvetica Neue",
    sans-serif;
  --fuente-titulo: 1.5rem;
  --fuente-texto: 1.1rem;
  --fuente-modal: 24px;
  --fuente-pequena: 0.7rem;
  --fuente-micro: 0.5rem;

  /* Espaciados y márgenes */
  --espaciado-general: 20px;
  --espaciado-pequeno: 10px;
  --espaciado-footer: 4px;
  --espaciado-elemntos: 4rem;
}

/* ======== RESET DE ESTILOS GENERALES ======== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: var(--fuente-principal);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======== Estilos Generales ======== */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100dvw;
  color: var(--color-texto);
}

.fondo-radial {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  background: radial-gradient(
    125% 125% at 50% 10%,
    #000 40%,
    rgba(133, 25, 48, 0.82) 100%
  );
}

/* ======== Grid 3x3 ======== */
.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 0.5fr) minmax(0, 2fr) minmax(0, 0.07fr);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* ======== Celdas generales ======== */
.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--espaciado-elemntos);
  align-items: center;
  color: var(--color-texto);
  text-align: center;
}

/* Alien Arcade */
.pixel-block {
  position: absolute;
  width: 10em;
  height: 7em;
  padding-top: 1rem;
}
.pixelized--invaders {
  display: block;
  width: 1em;
  height: 1em;
  box-shadow: 2em 0em #7f2828, 8em 0em #7f2828, 3em 1em #7f2828, 7em 1em #7f2828,
    2em 2em #7f2828, 3em 2em #7f2828, 4em 2em #7f2828, 5em 2em #7f2828,
    6em 2em #7f2828, 7em 2em #7f2828, 8em 2em #7f2828, 1em 3em #7f2828,
    2em 3em #7f2828, 4em 3em #7f2828, 5em 3em #7f2828, 6em 3em #7f2828,
    8em 3em #7f2828, 9em 3em #7f2828, 0em 4em #7f2828, 1em 4em #7f2828,
    2em 4em #7f2828, 3em 4em #7f2828, 4em 4em #7f2828, 5em 4em #7f2828,
    6em 4em #7f2828, 7em 4em #7f2828, 8em 4em #7f2828, 9em 4em #7f2828,
    10em 4em #7f2828, 0em 5em #7f2828, 2em 5em #7f2828, 3em 5em #7f2828,
    4em 5em #7f2828, 5em 5em #7f2828, 6em 5em #7f2828, 7em 5em #7f2828,
    8em 5em #7f2828, 10em 5em #7f2828, 0em 6em #7f2828, 2em 6em #7f2828,
    8em 6em #7f2828, 10em 6em #7f2828, 3em 7em #7f2828, 4em 7em #7f2828,
    6em 7em #7f2828, 7em 7em #7f2828;
}

/* ======== Canvas en el centro ======== */
.center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center canvas {
  border-width: 15px;
  border-style: solid;
  border-image-source: url("./public/marco-sprite.png");
  border-image-slice: 10;
  border-image-repeat: stretch;

  background: url(./public/bkg.png) repeat;
}

/* ======== Contador de puntuación (visual) ======== */
.score-box {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-pequeno);
  text-align: center;
  font-size: var(--fuente-texto);
  color: var(--color-texto);
}

.score-box strong {
  font-size: var(--fuente-titulo);
  color: var(--color-rojo-sangre); /* Rojo oscuro */
}

/* ======== Imagen (titulo) ======== */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 90%;
  max-width: 500px;
}

/* ======== Botón general ======== */
.btn {
  background-color: var(--color-rojo-sangre); /* Rojo oscuro */
  color: #fff;
  border: 2px solid var(--color-rojo-sangre); /* Rojo oscuro */
  padding: var(--espaciado-pequeno) var(--espaciado-general);
  font-family: var(--fuente-principal);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: var(--color-rojo-hover);
  border-color: var(--color-rojo-hover);
}

.btn.active {
  background-color: var(--color-rojo-hover);
  border-color: var(--color-rojo-hover);
}

/* ----------------- MODALES -----------------*/

/* ======== MODALES UNIFICADAS ======== */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-fondo-modal);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal p,
.modal h2 {
  font-size: var(--fuente-modal);
  margin-bottom: var(--espaciado-general);
  color: var(--color-texto);
  animation: parpadeo 1s infinite;
  text-align: center;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ======== Contador de puntuación (numérico) ======== */

/* ======== Footer en toda la fila inferior ======== */
.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-footer);
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--fuente-micro);
  padding: var(--espaciado-footer);
  text-align: center;
}

.footer a {
  color: var(--color-rojo-sangre);
}

.footer a:hover {
  color: var(--color-rojo-hover);
}

/* ======== SELECTOR DE NIVELES ======== */
.select-container {
  /* position: absolute; */
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select-label {
  font-size: var(--fuente-pequena);
  color: var(--color-texto);
  text-shadow: 0 0 2px rgba(255, 0, 0, 0.5);
}

.select {
  background-color: var(--color-fondo-footer);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23851831'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 25px;
  color: var(--color-texto);
  border: 2px solid var(--color-rojo-sangre);
  margin-top: 5px;
  padding: 10px 10px;
  font-family: var(--fuente-principal);
  cursor: pointer;
  transition: all 0.3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: auto;
  white-space: nowrap;
}

.select:hover {
  border-color: var(--color-rojo-hover);
  background-color: rgba(133, 25, 49, 0.1);
}

.select option {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  padding: 5px;
}

.select option:hover {
  background-color: var(--color-rojo-sangre) !important;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-rojo-sangre);
}

/* Estado deshabilitado */
.select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: var(--color-borde);
}

.select:disabled:hover {
  background-color: transparent;
  border-color: var(--color-borde);
}

/* ======== Botones de enlaces ======== */
.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-rojo-sangre);
  color: #fff;
  border: 2px solid var(--color-rojo-sangre);
  padding: 0.5rem 1rem;
  font-family: var(--fuente-principal);
  font-size: var(--fuente-pequena);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.link-btn:hover {
  background-color: var(--color-rojo-hover);
  border-color: var(--color-rojo-hover);
}

.link-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
